*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* Backgroud color*/
    --bg-primary-color:#0c0c0c;
    --bg-fill-color: #fdfdfc;
    --bg-food-color:#ff6347;


    /* text color*/
    --text-primary-color:#f0f0f0;
    /*spacing*/
    --spacing-xs:4px;
    --spacing-sm:8px;
    --spacing-md:16px;
    --spacing-lg:24px;
    --spacing-xl:32px;
    --spacing-xxl:40px;
    --spacing-xxxl:48px;
    /* Border color */
    --border-primary-color:#333333;
    /* Border Radius*/
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:16px;
    --border-radius-lg:24px; 
    --border-radius-xl:32px;
    --border-radius-xxl:40px;
    --border-radius-xxxl:48px;   

}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}

main ,section{
    width: 100%;
    height: 100%;

}


.btn{
    padding: var(--spacing-sm) var(--spacing-md);
    border:none;
    border-radius: var(--border-radius-sm);
   
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}
section{
   padding: var(--spacing-xxl);
   display: flex;
   flex-direction: column;
   height:100%;
   gap: var(--spacing-lg);

}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--spacing-sm); var(--spacing-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);

}

.board{
  border:1px solid var(--border-primary-color);
    flex-grow: 1;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr) );
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr) );
    gap: 0px;

    
 
}

.block{
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--border-primary-color);
    border-radius:50%
  
}

.fill-color{
    background-color: var(--bg-fill-color);
}
.food-color{
    background-color: var(--bg-food-color);
}
.modal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:#35353587;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.modal .start-game,
.modal .Game-over

{
 display: flex;
 flex-direction: column;
 align-items: center;
    gap: var(--spacing-lg);

}
.modal .Game-over{
    display : none;

}